# Eclipse settings
.project
**/.project
.classpath
**/.classpath
.settings
**/.settings
bin
**/bin
**/.factorypath

# Eclipse Plug-In Settings
.pmd

# Maven generated stuff
target/
*/target/
**/.cache
pom.xml.versionsBackup
dependency-reduced-pom.xml

# GEdit generated stuff
*.*~

# IntelliJ files
.idea/
*.iml
*.ipr
*.iws

# Hugo
.hugo_build.lock 

# Mac nonsense
.DS_Store

# NetBean (generated) files
**/nb-configuration.xml
**/nbactions*.xml
*.jfr
compliance/repository/overlays
**/webapp/META-INF/context.xml
/core/sail/elasticsearch-store/tempElasticsearchDownload/*
tempElasticsearchDownload
cache.db
formatter-maven-cache.properties
compliance/*/overlays
docker/ignore
/core/queryparser/sparql/JavaCC/javacc/
