<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %green([%thread]) %highlight(%level) %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="org.eclipse.rdf4j.sail.shacl" level="info"/>
	<root>
		<level value="info"/>
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
