#header-wrapper {
  background: #707070;
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
}

#header-row {
  padding-top: 20px;
}

.jumbotron h1 {
  font-family: "DIN Condensed", "Arial Narrow OS", sans-serif;
  color: black;
}

.logo-vendor {
  float: right;
  padding-left: 6px;
  padding-bottom: 6px;
}

td,th {
  border: 1px solid #ccc;
  padding: 0.6rem;
}

.featured-jumbotron h1:after {
  /* divider */
  border-bottom: 3px solid white;
}

