<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">
	<appender name="MainLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${info.aduna.logging.dir}/main.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${info.aduna.logging.dir}/main-%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="info.aduna.logging.file.logback.StackTracePatternLayout"/>
			<charset>UTF-8</charset>
		</encoder>
		<logreader class="info.aduna.logging.file.logback.FileLogReader" default="true" />
	</appender>
	
	<root>
		<level value="INFO" />
		<appender-ref ref="MainLog" />
	</root>
</configuration>
