name: main status

on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk: [ 21, 25 ]

    steps:
    - uses: actions/checkout@v4
    - name: Register JVM thread dump on cancel
      uses: ./.github/actions/thread-dump-post
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.jdk }}
    - name: Cache local Maven repository
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-jdk${{ matrix.jdk }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-jdk${{ matrix.jdk }}-maven-
    - name: Build
      run: mvn -B -U -T 2C clean install -DskipTests
    - name: Run all tests
      run: exec ./scripts/ci/run-with-thread-dump.sh mvn -B install -P-skipSlowTests -Dmaven.javadoc.skip=true
    - name: Publish Test Report
      if: failure()
      uses: scacap/action-surefire-report@v1
      with:
        check_name: Test report - main status - ${{ matrix.jdk }}
